.user {
    background:#d8d8d8;
    padding: 10px;
    font-family:"Helvetica", sans-serif;
    font-size:20px;
    text-align: right;
    padding-right: 10%;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    border: none;
    text-align: center;
    background:-moz-linear-gradient(to bottom right, #f9f9f9 5%, #d8d8d8 100%);
    background:-webkit-linear-gradient(to bottom right, #f9f9f9 5%, #d8d8d8 100%);
    background:-o-linear-gradient(to bottom right, #f9f9f9 5%, #d8d8d8 100%);
    background:-ms-linear-gradient(to bottom right, #f9f9f9 5%, #d8d8d8 100%);
    background:linear-gradient(to bottom right, #f9f9f9 5%, #d8d8d8 100%);
}

.Hero-grid {
    margin-left: 30%;
    margin-right: 30%;
  }

.Add-Marvel-button {
    margin: 10px;
	background:none;
    border:2px solid #f44242;
    padding: 5px;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:"Helvetica", sans-serif;
    font-size:20px;
    color: #f44242;
	text-decoration:none;
}
.Add-DC-button {
    margin: 10px;
	background:none;
    border:2px solid #264a4a;
    padding: 5px;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:"Helvetica", sans-serif;
    font-size:20px;
    color: #264a4a;
	text-decoration:none;
}

.Add-Marvel-button:hover {
    text-decoration:underline;
}

.Add-DC-button:hover {
    text-decoration:underline;
}


.Addbutton-container {
    display: inline;
    
    background: none;
    padding: 20px;
}

.Hero-button-container {
	display: grid;
    background:#264a4a;
    text-align: left;
}


.DC-button:hover {
	text-decoration: underline;
}

.Marvel-button:hover {
	text-decoration: underline;
}


.Hero-button {

	border:none;
    display: grid;
	grid-template-columns: 90% 10%;
	cursor:pointer;
	font-family:"Helvetica", sans-serif;
	font-size:20px;
    text-decoration:none;
    
}

.DC-name {
    padding: 5px;

    background:-moz-linear-gradient(top,#99C4C4  5%, #E0FFFF 100%);
	background:-webkit-linear-gradient(top, #99C4C4 5%, #E0FFFF 100%);
	background:-o-linear-gradient(top, #99C4C4 5%, #E0FFFF 100%);
	background:-ms-linear-gradient(top, #99C4C4 5%, #E0FFFF 100%);
	background:linear-gradient(to bottom, #99C4C4 5%, #E0FFFF 100%);
}


.Delete-DC-button {
    padding: 5px;
    text-align: center;
    color: #99C4C4;
	background:#264a4a;
	cursor:pointer;
	font-family:"Helvetica", sans-serif;
	font-size:20px;

}

.DC-name:hover {
    background:linear-gradient(to bottom, #E0FFFF 5%, #99C4C4 100%);
    background:-moz-linear-gradient(top, #E0FFFF 5%, #99C4C4 100%);
	background:-webkit-linear-gradient(top, #E0FFFF 5%, #99C4C4 100%);
	background:-o-linear-gradient(top, #E0FFFF 5%, #99C4C4 100%);
	background:-ms-linear-gradient(top, #E0FFFF 5%, #99C4C4 100%);
	background:linear-gradient(to bottom, #E0FFFF 5%, #99C4C4 100%);



}

.Delete-DC-button:hover {

    text-align:center;
    color: #f44242;
    text-decoration: underline;
    background:-moz-linear-gradient(top,#99C4C4  5%, #E0FFFF 100%);
	background:-webkit-linear-gradient(top, #99C4C4 5%, #E0FFFF 100%);
	background:-o-linear-gradient(top, #99C4C4 5%, #E0FFFF 100%);
	background:-ms-linear-gradient(top, #99C4C4 5%, #E0FFFF 100%);
	background:linear-gradient(to bottom, #99C4C4 5%, #E0FFFF 100%);
}

.Delete-DC-button:active {

    text-align:center;
    color: #f44242;
    text-decoration: underline;
    background:linear-gradient(to bottom, #E0FFFF 5%, #99C4C4 100%);
    background:-moz-linear-gradient(top, #E0FFFF 5%, #99C4C4 100%);
	background:-webkit-linear-gradient(top, #E0FFFF 5%, #99C4C4 100%);
	background:-o-linear-gradient(top, #E0FFFF 5%, #99C4C4 100%);
	background:-ms-linear-gradient(top, #E0FFFF 5%, #99C4C4 100%);
	background:linear-gradient(to bottom, #E0FFFF 5%, #99C4C4 100%);

}

.Marvel-name {
    padding: 5px;

    background:-moz-linear-gradient(top,#f44242  5%, #ffcccc 100%);
	background:-webkit-linear-gradient(top, #f44242 5%, #ffcccc 100%);
	background:-o-linear-gradient(top, #f44242 5%, #ffcccc 100%);
	background:-ms-linear-gradient(top, #f44242 5%, #ffcccc 100%);
	background:linear-gradient(to bottom, #f44242 5%, #ffcccc 100%);
}


.Delete-Marvel-button {
    padding: 5px;
    text-align: center;
    color: #99C4C4;
	background:#f44242;
	cursor:pointer;
	font-family:"Helvetica", sans-serif;
	font-size:20px;

}

.Marvel-name:hover {
    background:linear-gradient(to bottom, #ffcccc 5%, #f44242 100%);
    background:-moz-linear-gradient(top, #ffcccc 5%, #f44242 100%);
	background:-webkit-linear-gradient(top, #ffcccc 5%, #f44242 100%);
	background:-o-linear-gradient(top, #ffcccc 5%, #f44242 100%);
	background:-ms-linear-gradient(top, #ffcccc 5%, #f44242 100%);
	background:linear-gradient(to bottom, #ffcccc 5%, #f44242 100%);



}

.Delete-Marvel-button:hover {

    text-align:center;
    color: #264a4a;
    text-decoration: underline;
    background:-moz-linear-gradient(top,#f44242  5%, #ffcccc 100%);
	background:-webkit-linear-gradient(top, #f44242 5%, #ffcccc 100%);
	background:-o-linear-gradient(top, #f44242 5%, #ffcccc 100%);
	background:-ms-linear-gradient(top, #f44242 5%, #ffcccc 100%);
	background:linear-gradient(to bottom, #f44242 5%, #ffcccc 100%);
}

.Delete-Marvel-button:active {

    text-align:center;
    color: #264a4a;
    text-decoration: underline;
    background:linear-gradient(to bottom, #ffcccc 5%, #f44242 100%);
    background:-moz-linear-gradient(top, #ffcccc 5%, #f44242 100%);
	background:-webkit-linear-gradient(top, #ffcccc 5%, #f44242 100%);
	background:-o-linear-gradient(top, #ffcccc 5%, #f44242 100%);
	background:-ms-linear-gradient(top, #ffcccc 5%, #f44242 100%);
	background:linear-gradient(to bottom, #ffcccc 5%, #f44242 100%);

}
